---
layout: default
permalink: /
weight: 1
remote_projects:
  - BuildSpace-Visualization
  - virus-spread
  - Playlist-Version-Tracking
  - Blindwrite-Clone
  - Chicago-Crime.github.io
  - PersonalSite 
  - wordle-solver
  - Tsubi-Club 
  - Lecture-Transcript-Generator
  - Interlacing-Compression
  - Snake
  - PythonFlaskWebsite
  - Unsplash-Photo-Grabber
  - Dashboard
  - CalendarApp
  - LARK
  - NN
  - STT_Speed_Dating
  - cr-synergy
  - Instagram-Visualization
remote_open_new_tab: true
open_new_tab: false
---

{% include landing.html %}

<head>
  <!-- Site Tracking -->
  <script src="https://cdn.amplitude.com/libs/analytics-browser-2.11.1-min.js.gz"></script>
  <script src="https://cdn.amplitude.com/libs/plugin-session-replay-browser-1.8.0-min.js.gz"></script><script>window.amplitude.add(window.sessionReplay.plugin({sampleRate: 1}));window.amplitude.init('757a029edbff36bcc77e68e72214d750', {"autocapture":{"elementInteractions":true}});</script>
</head>

<div id="About"></div>
<div
  class="col-lg-10 mx-auto mt-5 markdown-body"
  style="margin-top: 0 !important"
>
  <br />
  <p align="center">Computational Data Analyst. Dev by day but by night, I'm also a dev.
  </p>

  <p>
    <div align="center">
      <a href="https://github.com/KoyaS" target="_blank"
        ><i class="fab fa-github" data-fa-transform="shrink-0.5 up-0.5"></i>
        GitHub
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/koya-saito-bb9384173" target="_blank"
        ><i class="fab fa-linkedin" data-fa-transform="shrink-0.5 up-0.5"></i>
        LinkedIn</a
      >
      &nbsp;
      <a href="mailto:koyavsaito@gmail.com"
        ><i class="fas fa-envelope"></i> Email</a
      >
      &nbsp;
      <a
        href="https://github.com/KoyaS/KoyaS.github.io/blob/main/assets/SaitoKoyaResume.pdf"
        target="_blank"
        ><i class="fas fa-file" data-fa-transform="shrink-2 up-0.8"></i>
        Resume</a
      >
    </div> 
  </p>

  <!-- <div class="row">
  {% include about/skills.html title="Programming Interests" source=site.data.programming-skills %}
  {% include about/skills.html title="Other Interests" source=site.data.other-skills %}
  </div> -->
  <!-- <div class="col-lg-10 mx-auto mt-5 markdown-body" style="margin-top: 0 !important;">
    <div class="row">{% include about/timeline.html %}</div>
  </div> -->

</div>

<div id="Projects"></div>

{% include projects/index.html %}
<div align="center" style="padding: 0; margin: 0" class="markdown-body">
  <!-- <h1>Projects</h1> -->
  <p>More projects on <a href="https://github.com/KoyaS?tab=repositories&type=source" target="_blank">GitHub</a></p>
</div>

<div id="Experience"></div>
<div class="col-lg-10 mx-auto mt-5 markdown-body" style="margin-top: 0 !important;">
  <div class="row">{% include about/timeline.html %}</div>
</div>

<div align="center" class="markdown-body" style="margin-top: 2rem; margin-bottom: 2rem;">
  <p><a href="#">Back To Top</a></p>
</div>
